# Node
node_modules/
dashboard/dist/
dashboard/dist-ssr/
*.local

# Logs
logs/
*.log
npm-debug.log*

# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

# Firebase
.firebase/
